

<div class="container my-5 text-center">
    <h1 class="display-5 text-success">Thank You!</h1>
    <p class="lead">Your account has been successfully created.</p>
   
    <a href="@Url.Action("Login","Account")" class="btn btn-primary btn-lg">
        Click to Login
    </a>
   
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
        Return to Main Page
    </a>
