@model Homework1.Models.Place

<div class="container my-5 text-center">
    <h1 class="display-5 text-success">Thank You!</h1>
    <p class="lead">Your feedback has been successfully reported.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
         Return to Main Page
    </a>